{% extends 'base.html' %}

{% block content %}

<h1>Home</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus dolorem laudantium recusandae. Eum nobis, maiores nostrum eaque corrupti aliquam nesciunt voluptatibus qui incidunt doloremque similique unde repellendus repudiandae ipsam harum soluta. Molestias facilis accusantium similique error quisquam dolore repellendus labore totam distinctio fugit incidunt blanditiis doloremque adipisci in, qui perferendis. Consequatur aperiam saepe est qui. Eos necessitatibus repellat pariatur vero veniam, non accusamus assumenda rem ullam totam nisi a! Culpa et dicta error quia illum quam eaque tempora, quaerat corrupti voluptatem, quae fugit consequatur veniam nam, vero iusto inventore excepturi delectus consequuntur ab. Nam reiciendis, sunt ullam porro iusto tenetur.</p>

{% endblock %}