{% extends 'base.html' %}

{% block content %}

<h1>Tasks Pending</h1>

<ul>
    {% for task in tasks %}
    <li>
        <a href="{% url 'task-detail' task.id %}">
            {% if task.important %}
            <strong>{{task.title}}</strong>
            {% else %}
            {{task.title}}
            {% endif %}
        </a>
        <p>{{task.description}}</p>
        <p>{{task.user.username}}</p>

        <p>{{task.date_completed|date:'M j Y:i'}}</p>

    </li>
    {% empty %}
    <li>No tasks available.</li>
    {% endfor %}
</ul>

{% endblock %}